<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="mb-3">Your Cart</h2>
  </div>
  <div class="col-md-12 mb-3 text-center" *ngIf="cartCount() === 0">
    <p>No transactions in cart.</p>
    <button class="btn btn-secondary" (click)="goHome()">Back to Home</button>
  </div>
  <div class="row" *ngIf="cartCount() > 0">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Account</th>
            <th>Amount (€)</th>
            <th class="col-xs-5 col-sm-1">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tx of getCart()">
            <td>{{ tx.contractorName }}</td>
            <td>{{ tx.accountNumber }}</td>
            <td>{{ tx.amountPaid }}</td>
            <td class="p-1">
              <div class="input-group btn-group-sm action-btn">
                <button
                  class="btn btn-danger"
                  type="button"
                  (click)="decreaseQuantity(tx.id)"
                >
                  −
                </button>
                <input
                  type="text"
                  class="form-control text-center p-1"
                  [value]="tx.count"
                  readonly
                  aria-label="Quantity"
                />
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="increaseQuantity(tx.id)"
                >
                  +
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6 text-start mt-2">
      <app-cart-total></app-cart-total>
    </div>
    <div class="col-6 text-end mt-2">
      <button class="btn btn-warning mb-1" (click)="clearCart()">
        Clear Cart
      </button>
      <button class="ms-1 mb-1 btn btn-primary" (click)="goHome()">
        Back to Home
      </button>
    </div>
  </div>
</div>
