<div class="container py-4" *ngIf="!loading">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Transaction List</h2>
    <button class="btn btn-outline-dark" (click)="goToCart()">
      View Cart ({{ cartCount() }})
    </button>
  </div>

  <div class="table-responsive" *ngIf="transactions.length > 0">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Account</th>
          <th>Amount (€)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tx of transactions">
          <td>{{ tx.contractorName }}</td>
          <td>{{ tx.accountNumber }}</td>
          <td>{{ tx.amountPaid }}</td>
          <td>
            <button
              class="btn btn-sm btn-success"
              type="button"
              (click)="addToCart(tx)"
            >
              ADD
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="alert alert-info"
    *ngIf="transactions.length === 0 && transactionError === false"
  >
    No transactions available.
  </div>
  <div
    class="alert alert-danger"
    *ngIf="transactions.length === 0 && transactionError === true"
  >
    Something went wrong. No transactions available.
  </div>
  <div class="d-flex justify-content-between">
    <app-cart-total></app-cart-total>
  </div>
</div>
